STAGING_AUTH_USER=YOUR_STAGING_AUTH_USER
STAGING_AUTH_PASSWORD=YOUR_STAGING_AUTH_PASSWORD
WEBHOOK_DEBUG_SECRET=YOUR_WEBHOOK_DEBUG_SECRET
WEBHOOK_SECRET_RAWG_STAGING=YOUR_WEBHOOK_SECRET_RAWG_STAGING
WEBHOOK_SECRET_RAWG_PROD=YOUR_WEBHOOK_SECRET_RAWG_PROD