name: check-code-quality

on:
  push:
    branches:
      - '**'
      - '!dev'
      - '!main'
  pull_request:
    branches:
      - dev

permissions:
  contents: read

jobs:
  code-quality:
    uses: ./.github/workflows/shared-quality.yml
